.thumbnail {
    margin: 2rem auto .5rem;
}
.photos-container {
    position: relative;
}
.photo > img {
    width: 100%;
}
.photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.sliderBtn {
    text-align: center;
}
.nut {
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin: .5rem .5rem 0;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #5699cc;
    transition: .5s ease;
}
.active {
    background: #095996;
}
#next, #previous {
    cursor: pointer;
    position: absolute;
    color:white;
    background: #5699cc;
    padding:20px;
    opacity:.5;
    border-radius: 0 20px 20px 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    font-weight: bolder;
    font-size: 20px;
    user-select: none;
    transition: .6s ease;
    z-index: 10;
}
#next {
    right:0;
    border-radius: 20px 0 0 20px;
}
#next:hover {
    background:#095996;
    color:whitesmoke;
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opactiy: 1;
    }
}
.fade {
    animation: fade 1.5s;
}

.options {
    margin: 0;
    justify-content: space-evenly;
    border-radius: 10px;
}
.option {
    border: 1px solid gray;
    margin-right:5px;
    border-radius: 10px;
    background:#095996;
    width: 100%;
    position:relative;
    transition: .5s ease;
}
.option:hover {
    background:#4a997b;
}
.option:last-child {
    margin-right:unset;
}
.option > a {
    color: #D3E0EA;
    padding: 20px;
    display: flex;
    width: 100%;
    text-align: begin;

}
.option > .icon1 {
    width: 30%;
    font-size:40px;
    text-align: end;
}
.option > .text {
    width: 70%;
}
.tieude {
    margin:.3rem 0 ;
    padding: .6rem 0;
    text-align:center;
    background-color:#095996;
    border: 1px solid gray;
    border-radius: 10px;
    color: whitesmoke;
    font-family: cabin, sans-serif;
    font-weight: bold;
}
.noidung {
    margin:.5rem 0;
    padding: 2.5rem 2rem;
    font-size:large;
    text-align:justify;
    background: #65c7d480;
    border-radius: 40px;
}
.thongtin-container {
    padding : 0 0 2rem 0;
    overflow:hidden;
    position: relative;
}
.thongtin {
    padding:.5rem;
    width: 25%;
}
.thongtin img {
    width:100%;
    max-height: 200px;
}
.thongtin h3 {
    margin:0 0 1rem 0;
    color:#095996;
    text-decoration: underline;
    font-size: 20px;

}
.button {
    padding:.5rem;
    border:2px solid #5699cc;
    color: #095996;
    font-family: cabin, sans-serif;
    font-weight: bold;
    transition: .5s ease;
}
.button:hover {
    color:whitesmoke;
    background:#095996;
}
.xemthem {
    position: absolute;
    right: 40px;
    bottom: 5px;
}
.xemthem span {
    font-size: 24px;
    color:#095996;
}
.khoa-container {
    padding: 0 0 1rem 0;
    overflow: hidden;
    flex-wrap: wrap;
}
.khoa {
    width: 30%;
    margin : 23px;
    border: 1px solid gray;
}
.khoa div {
    position: relative;
}
.khoa img {
    width: 100%;
    transition: .5s ease;
}
.khoa .layer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgb(128, 128, 128);
    opacity: .5;
    transition: .5s ease;
    z-index: 10;
}
.khoa h3 {
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    top:45%;
    text-align: center;
    color: whitesmoke;
    z-index: 15;
    opacity: 1 !important;
}
.tintuc-container {
    margin: .5rem 0 0 0;
    padding: 0 0 .5rem 0;
}
.tin {
    padding:.5rem;
    border: 3px solid #095996;
    border-radius: 20px 20px 20px 20px;
    margin: .5rem 0;
}
.tin img {
    width:100%;
    height: 400px;
}
.t-left, .t-right {
    width: 50%;
    border-radius: 50px;
    border: 3px solid white;
}
.tin span > a {
    text-decoration: underline;
    color: #095996;
}
.tin h2 {
    margin: 10% 1rem 0 .5rem;
    text-align: center;
    font-size: 26px;
    color: #095996;
    font-family: cabin, sans-serif;
}
.tin h3 {
    margin: 1.5rem 1rem;
    text-align: justify;
    font-size: 22px;
    color:#4e4c4c;
    font-style: italic;
}
.review-container {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.review {
    width: 30%;
    padding:1rem 0;
    margin: 1rem 0;
    border: 1px solid rgb(206, 206 ,206);
    background: #accae0;
    box-shadow: 10px 10px #5699cc;
}
.below {
    justify-content: space-evenly;
}
.under {
    padding: 1rem;
}