.thumbnail {
    margin: 2rem auto;
}
.photos-container {
    position: relative;
}
.photo > img {
    width: 100%;
}
.photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.sliderBtn {
    text-align: center;
}
.nut {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: .5rem .5rem 0;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #5699cc;
    transition: .5s ease;
}
.active {
    background: #095996;
}
#next, #previous, #nextthongtin, #previousthongtin {
    cursor: pointer;
    position: absolute;
    color:white;
    background: #5699cc;
    padding:20px;
    opacity:.5;
    border-radius: 0 20px 20px 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    font-weight: bolder;
    font-size: 20px;
    user-select: none;
    transition: .6s ease;
    z-index: 10;
}
#nextthongtin, #previousthongtin {
    background: #095996;
}
#next, #nextthongtin {
    right:0;
    border-radius: 20px 0 0 20px;
}
#next:hover, #previous:hover {
    background:#095996;
    color:whitesmoke;
}
#nextthongtin:hover, #previousthongtin:hover {
    opacity: 1;
    color: whitesmoke;
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opactiy: 1;
    }
}
.fade {
    animation: fade 1.5s;
}

.options {
    margin: 0;
    justify-content: space-evenly;
    border-radius: 10px;
}
.option {
    border: 1px solid gray;
    margin-right:5px;
    border-radius: 10px;
    background:#095996;
    width: 100%;
    position:relative;
    transition: .5s ease;
}
.option:hover {
    background:#4a997b;
}
.option:last-child {
    margin-right:unset;
}
.option > a {
    padding: 20px;
    display: flex;
    width: 100%;
    text-align: begin;

}
.option > .icon1 {
    width: 30%;
    font-size:40px;
    text-align: end;
}
.option > .text {
    width: 70%;
}
.tieude {
    margin:.3rem 0 ;
    padding: .6rem 0;
    text-align:center;
    background-color:#095996;
    border: 1px solid gray;
    border-radius: 10px;
    color: whitesmoke;
    font-family: cabin, sans-serif;
    font-weight: bold;
}
.noidung {
    margin:.5rem 0;
    font-size:large;
    text-align:justify;
}
.thongtin-container {
    padding : 0 0 1rem 0;
    overflow:hidden;
    position: relative;
}
.thongtin {
    padding:.5rem;
    width: 25%;
}
.thongtin img {
    width:100%;
}
.thongtin h3 {
    margin:0 0 .6rem 0;
    color:black;
    text-decoration: underline;
}
.button {
    padding:.5rem;
    border:1px solid #095996;
    color: black;
    font-family: cabin, sans-serif;
    font-weight: bold;
}
.khoa-container {
    padding: 0 0 1rem 0;
    overflow: hidden;
    flex-wrap: wrap;
}
.khoa {
    width: 25%;
    position: relative;
    border-right: 2px solid gray;
}
.khoa:last-child {
    border-right: none;
}
.khoa img {
    width: 100%;
    transition: .5s ease;
}
.khoa .layer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: black;
    opacity:.3;
    transition: .5s ease;
    z-index: 10;
}
.khoa h3 {
    position:absolute;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    top:45%;
    text-align: center;
    color: white;
    text-decoration: underline;
    z-index: 15;
}
.khoa > .button {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    text-decoration: underline;
    border: none;
    z-index: 15;
}
.tintuc-container {
    margin: .5rem 0 0 0;
    padding: 0 0 .5rem 0;
}
.tin {
    padding:.5rem;
    border: 3px solid #095996;
    border-radius: 20px 20px 20px 20px;
    margin: .5rem 0;
}
.tin img {
    width:100%;
    height: 400px;
}
.t-left {
    width: 50%;
}
.t-right {
    width: 50%;
}
.tin span > a {
    text-decoration: underline;
    color: #095996;
}
.tin h2 {
    margin: 10% 1rem 0 .5rem;
    text-align: center;
    font-size: 26px;
    color: #095996;
    font-family: cabin, sans-serif;
}
.tin h3 {
    margin: 1.5rem 1rem;
    text-align: justify;
    font-size: 22px;
    color:#4e4c4c;
    font-style: italic;
}