@media screen and (max-width: 800px) {
    body,prefooter{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .head{
        padding:0;
    }
    .head h1,.head h2{
        font-size:large;
        color: white;
    }
    .text{
        width: 90%;
        margin:0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .l-head{
        width: 100%;
        height: 100%;
        justify-content: space-around;
        background-color: #146C94;
    }
    .l-head > div:first-child,.r-head{
        display: none;
    }

    /*thanh nav*/
    .menu{
        flex-direction: column;
        justify-content:left;
        align-items: center;
        height: 100%;
        width: 50%;
        background-color: #0F4E6C;
    }
    .nav{
        display: none;
        background-color: #0f4f6c6e;
        width: 100%;
        position: fixed;
        height: 100%;
        margin-left: 0;
    }
    .menu li a{
        color: white;
        width: 100%;
        text-align: center;
    }
    .nav li{
        width: 100%;
    }

    .responsive{
        display: flex;
    }
    /*nút hiện menu*/
    .menu-containers{
        width: 10%;
        display: flex;
        margin: 0.2rem;
        justify-content: flex-start;
    }
    .menu-container{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 8px;
    }
    .menu-container div{
        /*vẽ 3 gạch*/
        background-color: white;
        border-radius: 2px;
        width: 80%;
        height: 4px;
    }
    @keyframes appear {
        from{
            left:-100%;
        }
        to{
            left:0;
        }
    }
    .appear{
        animation: appear 0.5s ease-in;
        position: fixed !important;
        height: 100%;
    }
    .hidden{
        animation: appear 0.5s ease-in reverse;
        left:-100%;
    }
    prefooter {
        flex-direction: column;
        border-radius: 5px 5px 0 0;
    }
    .left-pf, .right-pf {
        margin: 0 auto;
        width: 100%;
    }
    .left-pf iframe {
        width: 100%;
        height: 400px;
    }
    .right-pf img {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        padding: 0;
    }
    footer h3 {
        font-size: 14px;
    }
    .right-footer {
        display: none;
    }
    .left-footer {
        padding: 1rem;
    }
    #goTop {
        padding: 20px;
        font-size: 18px;
        bottom: 80px;
        right: 15px;
    }
    #goTop >span:after {
        display: none;
    }

    #goTop:hover > span {
        padding-right: unset;
    }
}