@media screen and (max-width: 800px) {
    body,prefooter{
        overflow-y: auto;
        overflow-x: hidden;
    }
    .head{
        padding:0;
    }
    .head h1,.head h2{
        font-size:large;
        color: white;
    }
    .text{
        width: 90%;
        margin:0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .l-head{
        width: 100%;
        height: 3rem;
        position: fixed;
        justify-content: space-around;
        background-color: #095996;
        z-index: 9999;
    }
    .l-head > div:first-child,.r-head{
        display: none;
    }

    /*thanh nav*/
    .menu{
        flex-direction: column;
        justify-content:left;
        align-items: center;
        position: fixed !important;
        height: 100%;
        width: 70%;
        background-color: #095996;
    }
    .menu li a {
        font-size: 18px;
    }
    .nav{
        background-color: transparent;
        width: 100%;
        height: 100%;
        top:3rem;
        position: fixed !important;
        justify-content: left;
        margin-left: 0;
    }

    .menu li a{
        color: white;
        width: 100%;
        text-align: center;
    }
    .menu li>ul li:last-child {
        border-radius: 0;
        border-bottom: none;
    }
    .menu li>ul li:last-child a{
        border-radius: 0;
    }
    .nav li{
        width: 100%;
    }
    .submenu1 {
        position: unset;
        min-width: unset;
    }
    .submenu1 > li > a {
        background:#146C94;
    }
    .submenu2 {
        padding: 0;
        margin: unset;
        position: unset;
        min-width: unset;
    }
    .submenu1 > li {
        border: unset !important;
    }
    .submenu2 > li {
        border: unset !important;
    }
    /* set mau xen ke cho submenu 2 nhung chua duoc*/
    .submenu2 > li > a:nth-child(odd) {
        background: #5cc7b1;
    }
    .submenu2 > li > a:nth-child(even) {
        background: rgb(92, 199, 177, .5);
    }
    .overlay{
        background-color: #0959964d;
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .responsive{
        display: flex;
    }
    /*nút hiện menu*/
    .menu-containers{
        width: 10%;
        display: flex;
        margin: 0.2rem;
        justify-content: flex-start;
    }
    .menu-container{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 8px;
    }
    .menu-container div{
        /*vẽ 3 gạch*/
        background-color: white;
        border-radius: 2px;
        width: 80%;
        height: 4px;
    }
    @keyframes appear {
        from{
            left:-100%;
        }
        to{
            left:0;
        }
    }
    @keyframes hide {
        from{
            left:0;
        }
        to{
            left:-100%;
        }
    }
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .appear{
        animation: appear 0.5s ease-in;
    }
    .hidden{
        animation: hide 0.5s ease-in;
        left:-100%;
    }
    .fadein{
        animation: fadein 0.5s;
    }
    prefooter {
        flex-direction: column;
        border-radius: 5px 5px 0 0;
    }
    .left-pf, .right-pf {
        margin: 0 auto;
        width: 100%;
    }
    .left-pf iframe {
        width: 100%;
        height: 400px;
    }
    .right-pf img {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        padding: 0;
    }
    footer h3 {
        font-size: 14px;
    }
    .right-footer {
        display: none;
    }
    .left-footer {
        padding: 1rem;
    }
    #goTop {
        padding: 20px;
        font-size: 18px;
        bottom: 80px;
        right: 15px;
    }
    #goTop >span:after {
        display: none;
    }

    #goTop:hover > span {
        padding-right: unset;
    }
    .nav-arrow{
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid white;
    left:80%;
    transform: translateY(200%);
    }
    .submenu1::after {
        content: none;
    }
    .submenu2::after {
        content: none;
    }
}