@media screen and (max-width: 800px) {
    main {
        width: 100%;
    }
    section {
        padding: 0;
    }
    section h1 {
        text-align: start;
        padding: 0;
        padding-top: 4rem;
        margin-left: 1rem;
    }
    .reg {
        width: 100%;
        padding: 0;
        padding-top: 1rem;
        padding-bottom: .5rem;
        margin-top: .5rem;
        border-radius: unset;
    }
    label {
        padding-left: .5rem;
        font-size: medium;
    }
    .double {
        padding: 0 .5rem !important;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .double > div {
        margin-right: 0 !important;
        width: 100% !important;
    }
    .double > div:last-child {
        margin-top: .5rem;
    }
    input, select {
        height: 50px;
        margin-top: .3rem !important;
    }
    .textarea {
        padding-bottom: 0 !important;
        margin-bottom: 0.5rem;
    }
    textarea {
        margin-top: .3rem !important;
    }
    .submit {
        margin-top: 0 !important;
        margin-left: 1rem;
        padding: 0 1rem;
        margin-bottom: .3rem;
        text-align: center;
        font-size: medium;
    }

}