*{
    margin:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.flex {
    display: flex;
   
}
a {
    text-decoration:none;
}
.highlight {
    color:#1687A7;
}
li {
    list-style-type: none;
}

/*header*/
.head {
    padding: 0.5rem 2rem;
    background :linear-gradient(#D3E0EA,#F6F5F5);
}
.l-head {
    width:30%;
}
.r-head { 
    text-align:right;
    width:70%;
    flex-direction: column;
    justify-content: center;

}
.icon {
    width:120px;
}
.logo > div {
    /*can giua text duoi logo*/
    text-align:center;
}
.text {
    margin:auto;
}
.text h1 {
    font-family: inherit;
}
.sub1 {
    color:#428ad1;
}
.sub2 {
    color:#5cc7b1;
}
.head  a {
    color:#146C94;
}
/*navigation*/
.nav {
    display:flex;
    justify-content:space-evenly;
    background:#D3E0EA;
}
.menu {
    padding: 0;
    text-align:center;
}
.menu > li {
    display:inline;
    float:left;
}
.menu > li > a {
    display:block;
    text-align:center;
    padding: 16px 16px;
    font-size: 22px;
    color:#276678;
    border-left:1px solid #276678;
}
.menu > li > a:first-child {
    border-left:none;
}
.menu > li > a:hover {
    background:#276678;
    color:#F6F5F5;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown:hover .dropdown-content{
    display: block;
}
/*aside*/
aside > left {  
    width:9.5%;
}
aside > right {  
    width:9.5%;
}
/*main*/
main {
    width:80%;
    margin:0 auto;
}
.thumnail {
    margin:0 auto;
}