*{
    margin:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.flex {
    display: flex;
   
}
a {
    text-decoration:none;
    color:white;
}
.highlight {
    color:#1687A7;
}
li {
    list-style-type: none;
}

/*header*/
.head {
    padding: 0.5rem 2rem;
    background :linear-gradient(#D3E0EA,#F6F5F5);
}
.l-head {
    width:40%;
}
.r-head { 
    text-align:right;
    width:60%;
    flex-direction: column;
    justify-content: center;

}
.icon {
    width:120px;
}
.logo > div {
    /*can giua text duoi logo*/
    text-align:center;
}
.text {
    margin:auto;
}
.text h1 {
    font-family: inherit;
}
.sub1 {
    color:#428ad1;
}
.sub2 {
    color:#5cc7b1;
}
.head  a {
    color:#146C94;
}
/*navigation*/
/* .nav {
    margin: 5px 10%;
    background:#D3E0EA;
    border-radius: 10px;
}
.nav ul {
    display: flex;
}
.menu {
    padding:0;
    justify-content: space-evenly;
}
.menu li {
    list-style-type: none;
}
.menu ul li a {
    display:block;
    padding:0 25px;
    text-decoration:none;
}
.menu > li:hover > a {
    background:white;
    color:#d3e0ea;
} */
.nav{
    margin: 5px 10%;
    background: #D3E0EA;
    border-radius: 5px;
}
nav ul{
    display: flex;
}
.menu {
    padding:0;
    justify-content: space-evenly;
}
.menu li a{
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: black;
    text-decoration: none;
}
/* Khi hover đến li, tô màu cho thẻ a */
.nav ul li:hover > a {
    background:#87b2d3;
    opacity: .8;
    color: white;
}
.submenu1{
    display: none;
    min-width: 350px;
    position: absolute;
}
.submenu1 > li{
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: #F6F5F5;
    text-align: left;
}
.submenu2{
    display: none;
    min-width: 350px;
    position: absolute;
}
.submenu2 > li{
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    background: #F6F5F5;
    text-align: left;
}
.menu > li:hover > ul{
    display:  block;
}
.submenu1 > li:hover > ul {
    display: block;
}
.menu li>ul li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu li>ul li:last-child a{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.submenu1 {
    margin-left: -40px;
}
.submenu2{
    margin-left: 270px;
    margin-top: -50px;
}
.submenu1::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F5F5 transparent;
    position: absolute;
    bottom: 100%;
    left:50px;
}
.submenu2::after {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent #F6F5F5 transparent transparent;
    position: absolute;
    right: 310px;
    top: 15px;
}

/*aside*/
aside > left {  
    width:9.5%;
}
aside > right {  
    width:9.5%;
}

/*main*/
main {
    width:80%;
    margin:0 auto;
}
.thumbnail {
    margin:0 auto;
}

/*nút goTop*/
#goTop{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
}

/*footer*/
footer{
    justify-content: space-evenly;
    align-items: center;
    background:#146C94;
    padding: 1rem;
}
footer hr {
    color: #146C94;
  }
footer p{
    color:white;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

/*artical*/
article{
    background-color: #146C94;
    padding: 1rem;
    margin-top: 1rem;
}
article h1{
    color:black;
}
/*Hỏi đáp*/
.questions-archive .single-question{
    padding:1rem;
}
.questions-archive .single-question > i{
    width: 2%;
    display: block;
    align-items: center;
}
